language = "c"
run = "gcc -o labrabota2-1 /home/runner/workspace/src/main.c /home/runner/workspace/src/car.c"
modules = ["c-clang14"]

[deployment]
run = [
  "sh",
  "-c",
  "gcc -o labrabota2-1 /home/runner/workspace/src/main.c /home/runner/workspace/src/car.c",
]

[nix]
channel = "stable-24_05"
